body {
    font-family: Arial, sans-serif;
    margin: 10px 20px;
    background-color: #062206; 
    color: #2c3e50; 
    font-family: 'Roboto', sans-serif; /* Falta escolher fonte */
    background-image: url(/Portifolio/PortifolioV0.9/assets/img/bg-1-home.jpeg);
    background-size: 100vw 100vh; 
    background-repeat: repeat; 
    background-blend-mode: overlay;
    background-color:rgb(3, 19, 3);
}

header {
 
    text-align: center;
    color: #ffffff; 
    padding: 10px 20px;
    height: 100vh;

}

nav {
    display: flex;
    margin-bottom: 20px;
    /* background-color: #2ecc71;  */
    
    color: #ffffff;
    border-radius: 5px;
    align-items: center;
}

nav a {
    margin: 2.5rem;
    text-decoration: none;
    color: #2ecc71;
    font-weight: bold;
    padding-top:.5rem;
}

.navigation-links{
    box-shadow: none;
    background-color: transparent;
}

.info{
    display: flex;
    flex-direction: column-reverse;
    box-shadow: none;
    background-color: transparent;
}

/* Ajustando o layout para depois reajustar dinamicamente */

.info > :nth-child(3){
    margin-top: 0vh;   
}
.info > :nth-child(2){
    margin-top: 30vh; 
}
.info > :nth-child(1){
    margin-top: 2vh; 
}
.info > :nth-child(1), .info > :nth-child(2){
    font-size: xx-large;
}

.logo{
 background-color: transparent;
 box-shadow: none;
 font-size: xx-large;
 font-family: 'Roboto';
}
section {
    background-color: #ffffff; 
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

footer {
    background-color: #2ecc71; 
    color: #ffffff;
    padding: 10px;
}

h2 {
    color: #333;
    font-size: large;
    padding-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.stats {
    text-align: center;
}

.social {
    background-color: transparent;
    box-shadow: none;
}