body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #ecf0f1; 
    color: #2c3e50; 
    font-family: 'Arial', sans-serif; /* Falta escolher fomte */
}

header {
    text-align: center;
    background-color: #2ecc71; 
    color: #ffffff; 
    padding: 20px;
}

nav {
    text-align: center;
    margin-bottom: 20px;
    background-color: #2ecc71; 
    color: #ffffff;
    padding: 10px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

section {
    background-color: #ffffff; 
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

footer {
    background-color: #2ecc71; 
    color: #ffffff;
    padding: 10px;
}

h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.stats {
    text-align: center;
}

