body {
    margin: 10px 20px;
    background-color: #062206;
    color: #2c3e50;
    font-family: 'Segoe UI';
    background-image: url(/Portifolio/PortifolioV0.9/assets/img/bg-2-home.jpeg);
    background-size: 100vw 100vh;
    background-repeat: repeat;
    background-blend-mode: overlay;
    background-color: rgb(3, 19, 3);
}

header {

    text-align: center;
    color: #ffffff;
    padding: 10px 20px;
    height: 100vh;

}

nav {
    display: flex;
    margin-bottom: 20px;
    /* background-color: #2ecc71;  */
    color: #ffffff;
    border-radius: 5px;
    align-items: center;
}

nav a {
    margin: 2.5rem;
    text-decoration: none;
    color: #2ecc71;
    font-weight: bold;
    padding-top: .5rem;
}

.navigation-links {
    box-shadow: none;
    background-color: transparent;
}

.info {
    display: flex;
    flex-direction: column;
    box-shadow: none;
    background-color: transparent;
    font-size: xx-large;
    flex-wrap: nowrap;
}

.info p {
    font-size: 2.5rem;
    color: #156f15;
    width: fit-content;
    
}

.info > :nth-child(2) {
    margin-top: 5vh;
}

.info > :nth-child(1) {
    margin-top: 30vh;
}

.logo {
    background-color: transparent;
    box-shadow: none;
    font-size: xx-large;
    font-family: 'Roboto';
}

section {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

footer {
    background-color: #2ecc71;
    color: #ffffff;
    padding: 10px;
}

.title-hero {
    font-size: 4.5rem;
}

h2 {
    color: #333;
    font-size: x-large;
    padding-bottom: 10px;
}

p {
    font-family: 'Arial', sans-serif;
    font-size: medium;
}



ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.stats {
    text-align: center;
}

.social {
    background-color: transparent;
    box-shadow: none;
}

.services {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.services .services-item {
    min-height: 15%;
    max-width: 15%;

}

.services .services-item h3 {
    font-weight: bold;
    text-align: center;
}

.services-item p {
    padding-top: 1rem;
}

.services h2 {
    min-width: 100%;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    padding-bottom: 20px;
}