body {
    font-size: 16px;
}

/* MOBILE */
@media only screen and (max-width: 480px) {
    body {
        font-size: 12px;
    }
}


/* TABLET */

@media only screen and (min-width: 1024px) and (max-width: 1399px) {
    body {
        font-size: 14px;
    }
}


/* Imagem responsiva */
img {
    max-width: 100%;
    height: auto;
}

nav {
    display: flex;
    flex-wrap: wrap;
}

nav a {
    flex: 1 0 auto;
    text-align: center;
}

/* Ajuste nas sections*/

section {
    margin: 20px 0;
}

/* Mobile */
@media only screen and (max-width: 768px) {
    section {
        margin: 10px 0;
    }
}

/* TABLET */

@media only screen and (min-width: 1024px) and (max-width: 1399px) {
    section {
        margin: 15px 0;
    }
}

.skills ul {
    list-style: none;
    padding: 0;
}

.skills li {
    margin-bottom: 10px;
}

/* Mobile */
@media only screen and (max-width: 768px) {
    .skills li {
        margin-bottom: 5px;
    }
}

/* TABLET */

@media only screen and (min-width: 1024px) and (max-width: 1399px) {
    .skills li {
        margin-bottom: 5px;
    }
}

.experience ul {
    list-style: none;
    padding: 0;
}

.experience li {
    margin-bottom: 20px;
}

/* MOBILE */
@media only screen and (max-width: 768px) {
    .experience li {
        margin-bottom: 10px;
    }
}

/* TABLET */

@media only screen and (min-width: 1024px) and (max-width: 1399px) {
    .experience li {
        margin-bottom: 10px;
    }
}
